
<div class="container">
<h1>Contacto</h1>

<div id="texto" #textos>
    <P appResaltado>
        Esta es la pagina de contacto, puedes enviarnos cualquier duda.
    </P>    
</div>


<!-- Tamañao del slider:
<input type="number" [(ngModel)]="widthSlider">
<button (click)="cargarSlider()">Cargar Slider</button>
<button (click)="resetearSlider()">Resetear Slider</button>
    
<div *ngIf="anchuraToSlider">
    
    <slider [anchura]="anchuraToSlider"
            [etiquetas]="captions"
            (conseguirAutor)="getAutor($event)"
    ></slider>    
</div>

<div class="container" *ngIf="autor">  
    {{autor.nombre + " " + autor.website}}
</div> -->
   
</div>
